<section>
  <%# if user_likes_page? -%>
	<h1>Please Enter Your Name &amp; Email Below:</h1>
	<%= simple_form_for @contestant, :html => { class: 'form-vertical' } do |f| %>
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
	<div class="fb-like" data-href="https://www.facebook.com/carmanfiat" data-send="true" width="450" data-show-faces="false" font=""></div>
  <%# else -%>
	<!--<h1>Click Like to Enter the Fiat Swag Giveaway</h1>-->
  <%# end -%>
</section>
