// Override Bootstrap Styles

@import "bootstrap";

body { 
	margin: 0 auto;
}

@import "bootstrap-responsive";
section#wrapper { 
	margin: 0 auto;
}

section#main-container {
	margin: 0 auto;
	width: 800px;
	height: 400px;
	border: 1px solid black;
	background: #ccc;
	text-align: center;
	
	div.fb-like {
		margin: 30px 0 30px 0;
	}
}

section#contestant-index {
	margin: 0 auto;
	width: 800px;
	height: 400px;
	border: 1px solid black;
	background: #ccc;
}

div.alert {
	margin-bottom: 0;
}

a, a:visited { color: white; }

span.strong { font-weight: bold; }