<!DOCTYPE html>
<html>
<head>
  <title>GiveawayApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Carman Fiat" />
  <meta property="og:type" content="company" />
  <meta property="og:url" content="http://carmanfiat.com" /> 
  <meta property="og:site_name" content="Carman Fiat Experience" />
  <meta property="fb:app_id" content="461550273890419" />
  <meta property="fb:admins" content="11307510" />
  <script>
  $(document).ready(function() {
  	if (window.location.hash == '#_=_')window.location.hash = '';
  });
  </script>
</head>
<body>

<section id="wrapper">
  <%= yield %>
</section><!--/section#wrapper-->
</div>
</body>
</html>
